<head>
<title>Crypto Rocket</title>
</head>
<body>
    <main style="display:flex; gap:3rem; margin-top: 300px; justify-content: center; font-size: 30px; font-weight: bold;">
        <div align="center" ><%= link_to "Informações"%></div>
        <div align="center" ><%= link_to "Sua Carteira", user_path %></div>
    </main>
</body>

